In [4]:
print("Twinkle, twinkle, little star,")
print("          How I wonder what you are")
print("                  Up above the world so high,")
print("                  Like a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("          How I wonder what you are")

Twinkle, twinkle, little star,
          How I wonder what you are
                  Up above the world so high,
                  Like a diamond in the sky.
Twinkle, twinkle, little star,
          How I wonder what you are

In [7]:
import time

In [9]:
time.time()

1634918489.1993456

In [10]:
time.ctime(1634918489.1993456)

'Fri Oct 22 19:01:29 2021'

In [37]:
A = float(input("Enter the radius of the circle "))
π = 3.14
Area = 2*π*(A*A)
print("Area of the circle for given radius is", Area)

Enter the radius of the circle 188
Area of the circle for given radius is 221960.32

In [115]:
M = str(input("Enter first name"))
N = str(input("Enter last name"))
print(N," ",M)

Enter first nameKhubaib
Enter last nameMukhtar
Mukhtar   Khubaib

In [43]:
D = int(input())
E = int(input())
Total = D + E
print("Sum of given numbers is numbers is",Total)

2
3
Sum of given numbers is numbers is 5

In [63]:
Q = int(input("Enter student marks for Maths"));
R = int(input("Enter student marks for Chemistry"));
S = int(input("Enter student marks for Physics"));
T = int(input("Enter student marks for Computer Science"));
U = int(input("Enter student marks for Biology"));

Total = (Q + R + S + T + U)/500 * 100

if Total >= 90:
   print("grade:A*")
elif Total >= 85:
   print("grade:A")
elif Total >= 75:
   print("grade:B")
elif Total >= 65:
   print("grade:C")
elif Total >= 55:
   print("grade:D")
elif Total >= 45:
   print("grade:E")
elif Total < 0:
   print("marks entered are invalid")
else:
   print("grade:F")

Enter student marks for Maths95
Enter student marks for Chemistry85
Enter student marks for Physics90
Enter student marks for Computer Science97
Enter student marks for Biology75
grade:A

In [69]:
V = int(input("Enter a value"))
if V % 2 == 0:
   print("value is Even")
else:
    print("value is Odd")

Enter a value5
value is Odd

In [72]:
X = [1,2,3,4,5,6,7,8]
print(len(X))

8

In [83]:
X = [1,2,3,4,5,6,7,8]
sum= 0
for i in range(0, len(X)):
   sum = sum + X[i]
  
print(sum)

36

In [107]:
for j in X[0:6]:
    if X[j] > X[j+1]:
     print(X[j]);
else:   
   print(X[-1])

8

In [114]:
Y = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for k in range(0, len(Y)):
    if Y[k] < 5 :
     print(Y[k]);

1
1
2
3